@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    color:white;
    font-weight: 600;

}

body {
    overflow-x: hidden;
    height: auto;
    background: linear-gradient(45deg, #7d8fc2,#a289c6,#e7a0e7,#fcc0de );
    background-size: 250% 250%;
    animation: fundogradiente 14s ease infinite;
    
}


@keyframes fundogradiente  {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

/* menu */
header {
    position: fixed;
    top:0;
    width: 100%;
    background-color: transparent;
}


.iconemenu {
    display: none;
}

.headerativo {
    background: linear-gradient(45deg, #7d8fc2,#a289c6,#e7a0e7,#fcc0de );
    background-size: 250% 250%;
    animation: fundogradiente 14s ease infinite;
    padding-bottom: 10px;
}


.cards-sobre, footer {
    margin-left:80px;
    margin-right: 80px;
    margin-top: 25px;
}

header nav, header img {
    margin:25px 80px 0 80px;
}
header, header ul {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

header ul {
    gap: 40px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
nav .login {
    border-radius: 10px;
    border: 1.5px solid rgb(255, 255, 255);
    padding: 9px 28px 9px 28px; 
    font-weight: 900;
}
nav .login:hover {
    background-color: #ffffff;
}

nav .login:hover a {
    background-image: linear-gradient(45deg, #7d8fc2, #a289c6, #e7a0e7, #fcc0de);
    -webkit-background-clip: text;
    background-size: 250% 250%;
    animation: fundogradiente 14s ease infinite;
    background-clip: text;
    color: transparent;
   
}

/* nav .login:hover {
    background-color: #ffffff;
    color:#2352d0;
    
}

nav .login a:hover {
    background-image: linear-gradient(45deg, #7d8fc2, #a289c6, #e7a0e7, #fcc0de);
    -webkit-background-clip: text; 
    background-size: 250% 250%;
    animation: fundogradiente 14s ease infinite;
    background-clip: text; 
    color: transparent;
    font-weight: 900;
} */

nav li a:hover {
    border-bottom: 2px solid white;
}

header img {
    width: 130px;
    animation: logoAnimada 2s infinite ;
}

@keyframes logoAnimada {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(110%);
    }
    100% {
        transform: scale(100%);
    }
}
.container-img-propaganda {
    display: flex;
    align-items: flex-end;
}
.img-propaganda {   
    height: 530px; 
    transform: scaleX(-1); 
    z-index: -1; 
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom:0;
    padding-bottom: 50px;
}
footer img {
    width: 150px;
    animation: logoAnimada 2s infinite ;
}

footer div, footer div ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-coluna ul a {
    text-decoration: none;
}

/* Seta para saber que tem que descer ou subir */
/* TESTES */
.seta {
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 50%;
    animation: puloSeta 1s linear infinite;
}

.seta-cima {
    transform: scaleY(-1);
}

.seta.seta-cima {
    animation: puloSetaInvertida 1s linear infinite;
}

@keyframes puloSeta {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(5px); }
}

@keyframes puloSetaInvertida {
    0%, 100% { transform: translateY(0) scaleY(-1); }
    50% { transform: translateY(5px) scaleY(-1); }
}

@keyframes border-pulse {
    0% {
        border-color: #a289c6;
    }
    50% {
        border-color: #e7a0e7; /* Cor alternativa da borda */
    }
    100% {
        border-color: #fcc0de; /* Cor alternativa da borda */
    }
}

/* Responsividade */
@media screen and (max-width: 990px) {
    .teste {
        display: none;
    }
    .iconemenu {
        display: block;
    }
    .iconemenu img {
        width: 80px;
    }

    .logo {
        width: 200px;
        height: auto;
    }

    header div { 
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    header, header ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
    }

    .navEspecial {
    width: 100%;
    background: linear-gradient(45deg, #7d8fc2,#a289c6,#e7a0e7,#fcc0de );
    background-size: 250% 250%;
    animation: fundogradiente 14s ease infinite;
    }
    nav li a {
        font-size: 26px;
    }

    footer img {
        width: 110px;
    }

    
}

@media screen and (max-width:850px) {
    footer {
        justify-content: center;
        align-items: center;
    }

    .footer-coluna {
        display: none;
    }

    footer img {
        width: 200px;
    }

    footer div {
        display: flex;
        align-items: center;
    }

    footer div p {
        font-size: 2rem;
    }
}

@media screen and (max-width:660px) {
    .logo {
        width: 150px;
        height: auto;
    }
    .iconemenu img {
        width: 70px;
    }   
    .seta {
        display: none;
    }
    header nav, header img {
        margin:25px 40px 0 40px;
    }
}

@media screen and (max-width:490px) {
    .logo {
        width: 120px;
        height: auto;
    }
    .iconemenu img {
        width: 60px;
    }
}

@media screen and (max-width:450px) {
    .logo {
        display: none;
    }
    header nav, header img {
        margin:25px 30px 0 30px;
    }
    * {
    text-align: center;
    }

}
